
.back {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: -10px;
  width: 1445px;
  height: 820px;
  animation: pulse 15s infinite;
}

@keyframes pulse {
	0%{
		background-color: white;
	}
  33% {
    background-color: #fed72f;
  }
  66%{
  	background-color: #224195;
  }
  100% {
    background-color: #ed2329;
  }
}

.letterS{
	position: absolute;
	margin-top: 10px;
	left: 0px;
}

.letterS:hover {
    background: black;
}

#S1{
	position: absolute;
	margin-top: 0px;
	left: 150px;
	width: 150px;
	height: 150px;
	background: #fed72f;
	-webkit-clip-path: circle(50% at 0 50%);
clip-path: circle(50% at 0 50%);
transform:rotate(225deg);
}

#S2{
	position: absolute;
	margin-top: 127px;
	left: 235px;
	width: 150px;
	height: 150px;
	background: #224195;
	-webkit-clip-path: circle(50% at 0 50%);
clip-path: circle(50% at 0 50%);
transform:rotate(45deg);
}

.letterH{
	position: absolute;
	margin-top: 50px;
	left: 360px;
}


#H1{
	position: absolute;
	margin-top: 10px;
	left: 20px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}


#H2{
	position: absolute;
	margin-top: 10px;
	left: 105px;
	width: 85px;
	height: 170px;
	background: #224195;
}

.letterA{
	position: absolute;
	margin-top: 10px;
	left: 420px;
}
#A1{
	position: absolute;
	margin-top: 50px;
	left: 170px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 170px solid #224195;
}

.letterP{
    position: absolute;
	margin-top: 10px;
	left: 560px;

}
#P1{
	position: absolute;
	margin-top: 50px;
	left: 280px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}

#P2{
	position: absolute;
	margin-top: 50px;
	left: 410px;
	width: 85px;
	height: 85px;
	background: #fed72f;
	-webkit-clip-path: circle(50% at 0 50%);
clip-path: circle(50% at 0 50%);
}

.letterE{
	position: absolute;
	margin-top: 10px;
	left: 1010px;
}
#E1{
	position: absolute;
	margin-top: 50px;
	left: 50px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}

#E2{
	position: absolute;
	margin-top: 20px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(225deg);
}

#E3{
	position: absolute;
	margin-top: 105px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(225deg);
}

#E4{
	position: absolute;
	margin-top: 190px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(45deg);
}

.letterT{
    position: absolute;
    margin-top: 210px;
    left: 360px;
    background-color: black;
}
#T1{
	position: absolute;
	margin-top: 130px;
	left: 70px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}

#T2{
	position: absolute;
	margin-top: 120px;
	left: 25px;
	width: 170px;
	height: 170px;
	background: #fed72f;
	-webkit-clip-path: circle(50% at 0 50%);
clip-path: circle(50% at 0 50%);
transform:rotate(90deg);
}

.letterH2{
	position: absolute;
	margin-top: 180px;
	left: 585px;
}


#H21{
	position: absolute;
	margin-top: 150px;
	left: 20px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}


#H22{
	position: absolute;
	margin-top: 150px;
	left: 105px;
	width: 85px;
	height: 170px;
	background: #224195;
}


.letterE2{
	position: absolute;
	margin-top: 280px;
	left: 790px;
}
#E21{
	position: absolute;
	margin-top: 50px;
	left: 50px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}

#E22{
	position: absolute;
	margin-top: 20px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(225deg);
}

#E23{
	position: absolute;
	margin-top: 105px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(225deg);
}

#E24{
	position: absolute;
	margin-top: 190px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(45deg);
}

.letterT2{
	position: absolute;
	margin-top: 470px;
	left: 230px;
}
#T21{
	position: absolute;
	margin-top: 120px;
	left: 60px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}

#T22{
	position: absolute;
	margin-top: 120px;
	left: 17px;
	width: 170px;
	height: 170px;
	background: #fed72f;
	-webkit-clip-path: circle(50% at 0 50%);
clip-path: circle(50% at 0 50%);
transform:rotate(90deg);
}

.letterY{
	position: absolute;
	margin-top: 470px;
	left: 190px;
}
#Y1{
	position: absolute;
	margin-top: 120px;
	left: 325px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}


#Y2{
	position: absolute;
	margin-top: 120px;
	left: 285px;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 85px solid #224195;
	transform: rotate(180deg);
}

.letterP2{
    position: absolute;
	margin-top: 470px;
	left: 420px;

}
#P21{
	position: absolute;
	margin-top: 120px;
	left: 280px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}

#P22{
	position: absolute;
	margin-top: 120px;
	left: 410px;
	width: 85px;
	height: 85px;
	background: #fed72f;
	-webkit-clip-path: circle(50% at 0 50%);
clip-path: circle(50% at 0 50%);
}

.letterE3{
	position: absolute;
	margin-top: 540px;
	left: 870px;
}
#E31{
	position: absolute;
	margin-top: 50px;
	left: 50px;
	width: 85px;
	height: 170px;
	background: #ed2329;
}

#E32{
	position: absolute;
	margin-top: 20px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(225deg);
}

#E33{
	position: absolute;
	margin-top: 105px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(225deg);
}

#E34{
	position: absolute;
	margin-top: 190px;
	left: 147px;
	width: 0;
	height: 0;
	border-top: 60px solid #224195;
	border-right: 60px solid transparent;
	transform: rotate(45deg);
}
